.goals-section {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.goal-container{
    background-color: rgba(246,247,249);
    margin-bottom: 20px;
  }
.goal {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
   margin-bottom: 10px;
  }
.goal:hover{
    background-color:rgb( 233, 234,242);
    cursor: pointer;
  }
.goal.active {
    border-color: rgba(30, 109, 18);
  }
.goal h2 {
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
  }
.goal p {
    margin: 8px 0;
    font-size: 15px;
    color: #555;
  }
.goal a {
  color: rgba(30, 109, 18);
    text-decoration: none;
    font-weight: bolder;
    font-size: 14px;
  }
.goal .badge {
    background: #eee;
    color:rgba(30, 109, 18);
    padding: 2px 6px;
    font-size: 0.6rem;
    border-radius: 4px;
    border:1px solid rgba(30, 109, 18);
    margin-left: 10px;
  }
   .Goals-image img{
    margin-top: 120px;
    max-width: 100%;
    height: auto; 
    width: 650px; 
    height: 450px;
    margin-bottom: 30px;
    margin-left: 80px;
  } 

.Goals-text{
    margin-top: 40px;
    gap: 30px;
    margin-left: 50px;
    margin-bottom: 30px;
  }
.Goals-title{
    font-size: 1.8rem;
    margin-bottom: 20px;
    font-weight: bolder;
  }

  .Goals-image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
  }
  
  .animated-image {
    width: 100%;
    max-width: 300px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    animation: bounceIn 1.5s ease-out;
  }
  

  .Goals-image:hover .animated-image {
    transform: scale(1.1);
    opacity: 0.9;
  }

  a {
    display: inline-flex;      
    align-items: center;      
    text-decoration: none;     
    margin-left: 5px;
  }
  a svg {                      
    margin-left: 8px;          
    font-size: 15px;          
  }
  @keyframes bounceIn {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    60% {
      transform: scale(1.1);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }
  